@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Montserrat;
    font-weight: 500;
    background: url(/images/Longhorn-Ankole-Cows-yuri-yabi-01.png) no-repeat center;
    min-height: 100vh;
    background-size: cover;
    background-color:rgb(100, 137, 169) ;
}
.navigation{
    background: rgb(14, 92, 160);
    height: 100px;
    width: 100%;
    border-bottom: 3px solid yellow;
    position: fixed;
    
}
#navBar{
    display: flex;
    justify-content: space-between;
}
#logo {
    font-size: 30px;
    font-weight: bold;
    line-height: 100px;
    color: white;
    padding:30px;
    text-decoration: none;
}
#logo:hover{
    color: rgb(75, 166, 75);
    
}

.lists{
    float: right;
    display: flex;
    line-height: 100px;
}

.link{
    color: white;
    text-transform: uppercase;
    padding: 30px;
    margin-right:10px ;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
}
.link:hover{
    color: yellow;
    transform: 2s;
    background-color:rgb(66, 111, 151) ;
}
.link:active{
    color: rgb(75, 166, 75);
}
li{
    list-style: none;
}



h3 {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
}

.container {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
    /* height: 560px; */
    background-color:rgb(50, 137, 169, 0.7) ;
    margin: 0 auto;
    height: 100vh;
}

@media screen and (max-width:665px) {
    .link{

        font-size: 12px;
        padding: 10px;
    }
}
@media screen and (max-width:546px) {
    .link{

        font-size: 12px;
        padding: 5px;
    }
}
@media screen and (max-width:390px) {
    #logo{
        font-size: 20px;
    }
    .link{
        font-size: 10px;
        padding: 5px;
    }
}
